<!DOCTYPE HTML>
<html lang="en-US"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Bulk Remove Users</title>
</head>
<body>
<div layout:fragment="content">
    <!-- alerts section -->
    <div th:if="${success}" class="rvt-alert rvt-alert--success rvt-m-top-sm" role="alertdialog" aria-labelledby="success-alert-title-edit">
        <h1 class="rvt-alert__title" id="success-alert-title-edit">Users successfully removed</h1>
        <p class="rvt-alert__message">You may return to the <a th:href="${peopleToolUrl}">People tool</a>.</p>
        <button type="button" class="rvt-alert__dismiss" data-alert-close>
            <span class="v-hide">Dismiss this alert</span>
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <path fill="currentColor" d="M9.41,8l5.29-5.29a1,1,0,0,0-1.41-1.41L8,6.59,2.71,1.29A1,1,0,0,0,1.29,2.71L6.59,8,1.29,13.29a1,1,0,1,0,1.41,1.41L8,9.41l5.29,5.29a1,1,0,0,0,1.41-1.41Z"/>
            </svg>
        </button>
    </div>
    <div th:if="${errors}" class="rvt-alert rvt-alert--danger rvt-m-top-sm" role="alert" aria-labelledby="error-alert-title">
        <h1 class="rvt-alert__title" id="error-alert-title">Error</h1>
        <p class="rvt-alert__message">There was an issue removing users. Please try again.</p>
        <button type="button" class="rvt-alert__dismiss" data-alert-close>
            <span class="v-hide">Dismiss this alert</span>
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <path fill="currentColor" d="M9.41,8l5.29-5.29a1,1,0,0,0-1.41-1.41L8,6.59,2.71,1.29A1,1,0,0,0,1.29,2.71L6.59,8,1.29,13.29a1,1,0,1,0,1.41,1.41L8,9.41l5.29,5.29a1,1,0,0,0,1.41-1.41Z"/>
            </svg>
        </button>
    </div>
    <!-- main page -->
    <h1 class="rvt-ts-32 rvt-p-tb-sm">Bulk Remove Users</h1>
    <span th:if="${finalEnrollmentList.isEmpty()}">SIS-enrolled users are not listed and cannot be removed with this tool.</span>
    <div th:if="${finalEnrollmentList.isEmpty()}" class="rvt-inline-alert rvt-inline-alert--standalone rvt-inline-alert--info rvt-p-tb-sm">
        <span class="rvt-inline-alert__icon">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <g fill="currentColor">
                    <path d="M8,16a8,8,0,1,1,8-8A8,8,0,0,1,8,16ZM8,2a6,6,0,1,0,6,6A6,6,0,0,0,8,2Z"/>
                    <path d="M8,12a1,1,0,0,1-1-1V8A1,1,0,0,1,9,8v3A1,1,0,0,1,8,12Z"/>
                    <circle cx="8" cy="5" r="1"/>
                </g>
            </svg>
        </span>
        <span class="rvt-inline-alert__message" id="no-users-available">
            There are no users available to be removed.
        </span>
    </div>

    <span th:if="not ${finalEnrollmentList.isEmpty()}">SIS-enrolled users are not listed and cannot be removed with this tool.</span>
    <form th:if="not ${finalEnrollmentList.isEmpty()}" id="bulk-remove-users-form" th:action="@{|/app/remove/${courseId}|}" method="post">
        <div class="rvt-box rvt-m-top-sm">
            <div class="rvt-box__row">
                <fieldset>
                    <legend class="rvt-m-bottom-sm">Select by role:</legend>
                    <ul class="rvt-inline-list">
                        <li>
                            <input type="checkbox" id="checkbox-all" />
                            <label for="checkbox-all" class="rvt-m-right-xl" th:text="|All users (${allUserCount})|">All users (16)</label>
                        </li>
                        <li>
                            <input type="checkbox" id="checkbox-teachers"
                                th:disabled="${disableTeachers}" th:aria-disabled="${disableTeachers}" />
                            <label for="checkbox-teachers" class="rvt-m-right-xl" th:text="|Teachers (${teacherCount})|">Teachers (3)</label>
                        </li>
                        <li>
                            <input type="checkbox" id="checkbox-students"
                               th:disabled="${disableStudents}" th:aria-disabled="${disableStudents}" />
                            <label for="checkbox-students" class="rvt-m-right-xl" th:text="|Students (${studentCount})|">Students (4)</label>
                        </li>
                        <li>
                            <input type="checkbox" id="checkbox-tas"
                               th:disabled="${disableTAs}" th:aria-disabled="${disableTAs}" />
                            <label for="checkbox-tas" class="rvt-m-right-xl" th:text="|TAs (${taCount})|">TAs (3)</label>
                        </li>
                        <li>
                            <input type="checkbox" id="checkbox-designers"
                               th:disabled="${disableDesigners}" th:aria-disabled="${disableDesigners}" />
                            <label for="checkbox-designers" class="rvt-m-right-xl" th:text="|Designers (${designerCount})|">Designers (3)</label>
                        </li>
                        <li>
                            <input type="checkbox" id="checkbox-observers"
                               th:disabled="${disableObservers}" th:aria-disabled="${disableObservers}" />
                            <label for="checkbox-observers" class="rvt-m-right-xl" th:text="|Observers (${observerCount})|">Observers (3)</label>
                        </li>
                    </ul>
                </fieldset>
            </div>
        </div>
        <div class="rvt-m-top-md">
            <button type="button" class="rvt-button rvt-m-right-xs modalButton" data-modal-trigger="edit-tool-properties" aria-describedby="users-selected" aria-disabled="true" disabled>Remove selected users</button>
            <span id="users-selected" aria-live="polite">0 selected</span>
        </div>
        <div>
            <table class="rvt-table-cells rvt-m-top-md">
                <caption class="sr-only">Table with user information and checkboxes to select for removing them</caption>
                <thead>
                <tr>
                    <th scope="col" class="checkboxColumn"><span class="sr-only">Select</span></th>
                    <th scope="col">Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Role</th>
                    <th scope="col">Section</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="enrollmentDisplay : ${finalEnrollmentList}">
                    <th scope="row" class="checkboxColumn">
                        <input type="checkbox" name="user" th:id="|checkbox-${enrollmentDisplay.enrollmentId}|"
                            th:data-attribute="${enrollmentDisplay.baseRole}"
                            th:dupe-attribute="${#arrays.contains(dupeUsernames, enrollmentDisplay.username)}"
                            th:value="${enrollmentDisplay.enrollmentId}" />
                        <label th:for="|checkbox-${enrollmentDisplay.enrollmentId}|" class="labeloverride">
                            <span class="sr-only" th:text="|Select ${enrollmentDisplay.displayName}|">Select Banner, Bruce</span>
                        </label>
                    </th>
                    <td th:text="${enrollmentDisplay.displayName}" class="displayName">Banner, Bruce</td>
                    <td th:text="${enrollmentDisplay.username}" class="username">bbanner</td>
                    <td th:text="${enrollmentDisplay.role}" class="role">Teacher</td>
                    <td th:text="${enrollmentDisplay.sectionName}" class="section">FA21-BL-CHEM-A123-12345</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="rvt-m-top-md">
            <button type="button" class="rvt-button rvt-m-right-xs modalButton" data-modal-trigger="edit-tool-properties" aria-describedby="users-selected" aria-disabled="true" disabled>Remove selected users</button>
        </div>

        <!-- dialog box -->
        <div class="rvt-modal rvt-modal-override"
             id="edit-tool-properties"
             role="dialog"
             aria-labelledby="edit-tool-properties-dialog"
             aria-hidden="true"
             tabindex="-1"
             data-modal-dialog="true">
            <div class="rvt-modal__inner">
                <header class="rvt-modal__header">
                    <h1 class="rvt-modal__title" id="edit-tool-properties-dialog">Remove Users</h1>
                </header>
                <div class="rvt-modal__body rvt-modal__body-override">
                    <p class="rvt-text-bold">Are you sure you want to remove these users?</p>
                    <ul class="rvt-plain-list modal-list"></ul>
                </div>
                <div class="rvt-modal__controls">
                    <button id="dialog-submit" type="submit" class="rvt-button">
                        <span class="rvt-button__content">Yes, remove</span>
                    </button>
                    <button id="dialog-cancel" type="button" class="rvt-button rvt-button--secondary" data-modal-close="edit-tool-properties">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
</html>